﻿@page
@model IndexModel
@using Models
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Emploi du temps</h1>
    <div id="calendar"></div>
</div>

<script>
    var calendarEl = document.getElementById("calendar");

    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let events = []
        let color;
        @foreach (var item in Model.Seance) {
            
            switch (item.type)
            {
                case Models.TypeSeance.EnumType.CM:
                    @:color = "#F05555";
                    break;
                case Models.TypeSeance.EnumType.TD:
                    @:color = "#55F055";
                    break;
                case Models.TypeSeance.EnumType.TP:
                    @:color = "#5555F0";
                    break;

            }
            @:console.log("@Html.DisplayFor(modelItem => item.leGroupe.nom)"); 
            @:events.push({
                @:title: "@Html.DisplayFor(modelItem => item.type)" + " - " + "@Html.DisplayFor(modelItem => item.leGroupe.nom)" + "\n" + "@Html.DisplayFor(modelItem => item.lUe.intitule)" + "\n" + "@Html.DisplayFor(modelItem => item.salleSeances)",
                @:start : "@Html.DisplayFor(modelItem => item.date)"+ "T" +"@Html.DisplayFor(modelItem => item.heureDebut)",
                @:end: "@Html.DisplayFor(modelItem => item.date)" + "T" + "@Html.DisplayFor(modelItem => item.heureFin)",
                @:color: color,
            @:});
        }

        console.log(events);

                    

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'timeGrid', 'list'],
            defaultView: 'timeGridWeek',
            allDaySlot: false,
            minTime:"06:00:00",
            maxTime: "21:00:00",
            firstDay: 1,
            buttonText: {
                today:    'Aujourd\'hui',
                month:    'mois',
                week:     'semaine',
                day:      'jour',
                list:     'liste'
            },
            eventTimeFormat:{
                hour: 'numeric',
                minute: '2-digit',
                meridiem: false
            },
            locale: 'fr',
            timezone: "locale",
            events: events,
        });

        calendar.render();
      });

</script>