﻿@page
@model Schedular.Pages.Seances.CreateModel
@using Schedular.Models
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Seance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Seance.date" class="control-label"></label>
                <input asp-for="Seance.date" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                <span asp-validation-for="Seance.date" class="text-danger"></span>
            </div>
                
            <div class="form-group">
                <label asp-for="Seance.heureDebut" class="control-label"></label>
                <input asp-for="Seance.heureDebut" class="form-control" type="time" min="06:00" max="21:00" value="06:00" />
                <span asp-validation-for="Seance.heureDebut" class="text-danger"></span>
            </div>
                
            <div class="form-group">
                <label asp-for="Seance.heureFin" class="control-label"></label>
                <input asp-for="Seance.heureFin" class="form-control"  type="time" min="06:00" max="21:00"  value="06:00"/>
                <span asp-validation-for="Seance.heureFin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Seance.groupeID" class="control-label"></label>
                <select asp-for="Seance.groupeID" class="form-control" asp-items="ViewBag.groupeID"></select>
                <span asp-validation-for="Seance.groupeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seance.ueID" class="control-label"></label>
                <select asp-for="Seance.ueID" class="form-control" asp-items="ViewBag.ueID"></select>
                <span asp-validation-for="Seance.ueID" class="text-danger"></span>
            </div>
        <div class="form-group">

            <div>

                <table>
                    @{
                        foreach (var CheckData in Model.lesCheckSalleSeance)
                        {
                            @:<tr>
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedSalle"
                                           value="@CheckData.SalleID"
                                           @(Html.Raw(CheckData.IsCheck ? "checked=\"checked\"" : "")) />
                                    @CheckData.NomPrecis
                                @: </td>
                            @: </tr>
                        }
                    }
                </table>
            </div>
        </div>

            <div class="form-group">
                <label asp-for="Seance.type" class="control-label"></label>
                <select asp-for="Seance.type" class="form-control" asp-items="Html.GetEnumSelectList<TypeSeance.EnumType>()"></select>
                <span asp-validation-for="Seance.type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
