﻿@page
@model Schedular.Pages.Seances.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.heureDebut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.heureDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.heureFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.heureFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.groupeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.leGroupe.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.ueID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.lUe.intitule)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.salleSeances)
        </dt>
        <dd class="col-sm-10">
            <table>
                @{
                    foreach (var salle in Model.Seance.salleSeances)
                    {
                        @salle.salle.nomPrecis <br />
                    }                    
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.type)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Seance.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
