﻿@page
@model Schedular.Pages.Seances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].heureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].heureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].groupeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].ueID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].salleSeances)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance[0].type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Seance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.heureDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.heureFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leGroupe.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lUe.intitule)
            </td>
            <td>
                @{

                    foreach (var salle in item.salleSeances)

                    {
                        
                        @salle.salle.nomPrecis <br />

                    }

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
