﻿@page
@model Schedular.Pages.Salles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Salle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salle.batimentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salle.leBatiment.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salle.nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salle.nom)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Salle.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
