﻿@page
@model Schedular.Pages.Salles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salle.batimentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salle.leBatiment.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salle.nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salle.nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Salle.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
