﻿@page
@model Schedular.Pages.Groupes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Groupe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Groupe.nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Groupe.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Groupe.Ue.intitule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Groupe.Ue.intitule)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Groupe.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
